#borde-negro{
	background-color: #494242;
	margin-left: 235px;
	margin-right: 250px;
	height: 30%;
	width: 57%;
}

#html{
	text-align: center;
	font-size: 100px;
	color:white;
	font-family: verdana;
}