<% layout('application') -%>

<div class="text-center color-blanco fondo-cafe">
	<p id="html">Lenguajes</p>
</div>
<div class="row padding-largo">
	<%for(var i = 0;i<languages.length;i++){ %>
		<% var language = languages[i]; %>
		<div class="col-md-4 col-sm-6 col-xs-12 borde-col" style="margin-top:1em;">
			<div class="fondo-blanco borde-row sin-padding">
				<div class="fondo-rojo tipo-letra centrar-texto color-blanco article-height-cover" style="padding-top:1px;">
					<h2 class="letra-tam-30 color-blanco" style="padding-top:20px;"><%=language.title%></h2>
				</div>
					<div>
						<p class="letra-tam" ><%=language.description%></p>
						<div style="text-align:right;">
							<a href="/lenguajes/<%=language.title%>" class="btn btn-info">Ver más</a>
						</div>	
					</div>
					
			</div>
		</div>
	<%}%>		
</div>
	
