<% layout('application') -%>
<div class="row">
	<div id="contenedorB" class="col-md-2 contenedor-buscador" style="height = 100%">
		<form action="/search" id="buscador" style="padding-top: 5%; padding-bottom: 5%;" class="text-center">
		<input class="lupita" id="input-b" style="width: 100%" name="keyword" type="text" value="" placeholder="Buscar" required>

		</form>
		<div id="resultados">
			<p class="text-center">Propiedades</p>
		</div>	
	</div>
</div>
		<div id="borde-negro">
			<p id="html"><%=language.title%></p>
		</div>
<div class="table-responsive">
		
		
		<table class="table table-striped table-condensed" id="tabla-valores">
		<thead>
		<tr>
			<th class="etiquetas-azules">Título</th>
			<th class="etiquetas-azules">Descripción</th>
			<th class="etiquetas-azules">Visitas</th>
		</tr>
		</thead>
		<% for(var i=0; i<propiedades.length; i++){ 
		  %>
		  <%var propiedad = propiedades[i]%>
			<tr>
				<td><%=propiedades._id%></td>
				<td><%=propiedades.title%></td>
				<td><%=propiedades.description%></td>
				<td><button type="button">Editar</button>-<button type="button">Eliminar</button></td>
			</tr>
			
			<%
			} 
		%>
	</table>
</div>
