.fondo{
  background: url(halo.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 30px;
}

/*Bordes margenes */
.bordes-abajo-imagen{
  margin-right: 2px;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 1px;  
}
.borde-etiqueta{
  margin: 1px;
  margin-top: 3px;
}
.borde-header{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}
.borde-col{
  padding-right: 0px;
  padding-left: 10px;
}
.borde-row{
  margin-bottom: 15px;
}
.borde-texto{
  padding-bottom: 15px;
}
  
/*Sombras*/
.sombreado{
    width: auto;
    height: auto;
    box-shadow: 0 0 10px 0.2px gray;
    border-radius: 1px;
}

/*Texto*/
.centrar-texto{
  text-align: center;
}
.tipo-letra{
  font-family: arial;
}
/*Colores*/
.color-blanco{
  color: #FFFFFF;
}
.color-azul{
  color: #26B2FF;
}