<% layout('application') -%>
<head>
    <meta property="og:title" content="Codigo Facilito" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://codigofacilito.com/" />
    <meta property="og:image" content="http://i.ytimg.com/vi/ywnkDldgkCA/maxresdefault.jpg" />
    <meta property="og:description" content="Texto de ejemplo, ojala funcionara" />
</head>
<section>
		<div class="boton-compartir text-center" >
			<i class="fa fa-share-alt fa-2x texto-blanco"></i>
			<div >   
			  <a href="javascript:fbshareCurrentPage()" target="_blank" alt="Share on Facebook" class="boton-red-social first" style ="background-color: blue">
			    <i class="fa fa-facebook fa-2x  texto-blanco "></i>
			  </a>
			  <a href="javascript:twshareCurrentPage()" target="_blank" alt="Share on Twitter"  class="boton-red-social second" style ="background-color: aqua">
			    <i class="fa fa-twitter fa-2x texto-blanco"></i>
			  </a>
			</div>
		</div>
		<script language="javascript">
		    function fbshareCurrentPage()
		    {window.open("https://www.facebook.com/sharer/sharer.php?u="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
		</script>
		<script language="javascript">
		    function twshareCurrentPage()
		    {window.open("https://twitter.com/intent/tweet?url="+escape(window.location.href)+"&t="+document.title, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false; }
		</script>
</section>
<section class="contenedor-pagina">
		<header class="menu-header">
			<div class="contenedor-header">
				<div class="contenedor-menu">
					<div class="menu-bar">
						<a href="#" class="bt-menu"><span class="fa fa-bars"></span></a>
					</div>
					<nav>
						<ul>
							<li><a href="#"><span class="fa fa-home"></span>Inicio</a></li>
							<li><a href="#"><span class="fa fa-suitcase"></span>Elemento 1</a></li>
							<li class="submenu">
								<a href="#"><span class="fa fa-rocket"></span>Elemento 2<span class="caret"></span></a>
								<ul class="children">
									<li><a href="#">SubElemento 1 <span class="fa fa-circle"></span></a></li>
									<li><a href="#">SubElemento 2 <span class="fa fa-circle"></span></a></li>
									<li><a href="#">SubElemento 3 <span class="fa fa-circle"></span></a></li>
								</ul>
							</li>
							<li><a href="#"><span class="fa fa-diamond"></span>Elemento 3</a></li>
							<li><a href="#"><span class="fa fa-envelope-o"></span>Elemento 4</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id='ver'>
    <header id="cabecera" class="cabecera-principal">
      <button type="button" class="close">x</button>
      <p id="texto-imagen">
      Un proyecto de 
      <a target="_blank" href="https://codigofacilito.com/"> 
      <img id="imagen-cabecera" src="imgs/logo_black.png">
      </a>
      </p>
      <p id="presentacion">Aprende a programar aplicaciones web, aplicaciones móviles, juegos y más</p>
    </header>
 </div>

	<section class="seccion-principal" style="padding-top:1px;">
		<div class = "row">
			<div  class="centrar-texto espacio-grande-arriba col-md-12 col-sm-12 col-xs-12">
				<p class = "color-rojo letra-titulo">REFERENCE.XYZ</p>
				<p class = "letra-subtitulo color-rojo">Porque la sintasix es lo de menos, construimos un buscador</p>
			</div>
			<form action="/search" id="buscador" class="misma-linea">
				<div class="col-md-3 col-sm-2"></div>
				<div class="col-md-6 col-sm-5 col-xs-8">
					<input id="input-b" name="keyword" type="text" value="" placeholder="Busca una etiqueta o una propiedad" required="" maxlength="25" class = "ancho-input">
				</div>	
				<div class="col-md-1 col-sm-3 col-xs-4"> 
					<button type="submit" class="sin-fondo sin-bordes sin-padding " data-toggle="modal" data-target="#myModal2">
						<i class="fa fa-paper-plane enviar enviar-raton " style="font-size: 20px"></i>
					</div>	
					<div class ="col-md-2 col-sm-2"></div>
					</button>
			</form>
		
			 <!-- Modal -->
			  <div class="modal fade" id="myModal2" role="dialog">
			    <div class="modal-dialog modal-lg">
			    
			      <!-- Modal content-->
			      <div class="modal-content">
			        <div class="modal-header " style="background-color: black">
			          <button id = "cerrar"  type="button" class="close" data-dismiss="modal">&times;</button>
			          <div style="display: inline -4px;">
			          <h4 class="modal-title  letra-roboto centrar-texto" style="color: rgb(0,153,0); font-size: 25px display: inline;">RESULTADOS DE LA BÚSQUEDA</h4></div>
			          <div   class="centrar-texto">
			          <img src="./imgs/coco.jpg" height='75' style="border-radius:50%;" class="centrar-texto"></a></li></div>
			        </div>
			        <div class="modal-body letra-ruluko" style="font-size: 20px; padding-left: 10%;" id= "resultados" >
			        </div>

			      </div>
			      
			    </div>
			  </div>
		</div>
		<div class = "row col-md-3 col-sm-2 col-xs-4"style="margin-left: 20%; padding: 3%;"></div>
 	</section>
		
	
  <header id = "logo-codigo" style="display:none" class = "block-en-linea posicion-fixed gran-porcentaje-espacio-izquierda espacio-pequeño-arriba">
    <a target="_blank" href= "http://codigofacilito.com/" class = "decoration-font golden-font">
      <div class = " circulo-blanco" > 
        <img src="./imgs/logo_black_1024.png" width='100%' class = " espacio-pequeño-logo-arriba">
      </div>
    </a>    
  </header>
	<!--==========================CONTAINER TIENE LA SECCION DE LA CHICA CON COMPUTADORA Y FONDO AZUL ==================-->
		<section class="container ancho-container " style="padding: 0px;">

			<!--==================================SECCION DE LA CHICA CON COMPUTADORA ===================================-->
			<section class="img-responsive fondo-chica-computadora" style="padding: 0px;">
				
			</section>
			<section class = "ancho fondo-blanco posicion-absoluta">
				<div id = "letra-tam" class = "fondo-blanco borde-blanco text-center">
					<div>
						<p class = "linea-negra">Empezar no tiene que ser un dolor de cabeza, esta plataforma es una guía de referencia para quienes quieren están desarrollando en los distintos lenguajes que aquí documentos.</p>
					</div>
					<div class="boton-derecha boton-padding-abajo">					  
					  <button type="button" class="color-azul-rgb sin-borde fondo-blanco boton-letra-tam" data-toggle="modal" data-target="#myModal">+ Saber más</button>					 
					  <div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog modal-lg">
					    
					      <!-- Modal content-->
					      <div class="modal-content">
					        <div class="modal-header">
					          <button id = "cerrar"  type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title"></h4>
					        </div>
					        <div class="modal-body" >

					          <p style="text-align: center;"><video id ="myVideo"  width="100%"  controls ><source src="video.mp4" type="video/mp4"></video></p>
					        </div>

					      </div>
					      
					    </div>
					  </div>
					  
					</div>
				</div>
			</section>

			<!--======================================SECCION DEL FONDO AZUL =======================================-->
			<section class= "row fondo-azul alto-fondo-azul">
				
					<div>
						<img class="img-responsive posicion-imagen-book tam-imagen-libro" src="imgs/book.png" alt="noFound">
						<div id="texto-azul" style="width:100%;">
							<p style="color:white">Tenemos registradas <%=total_propiedades%> propiedades</p>
						</div>
					</div>
		
			</section>
		</section>
	<section class="borde-header fondo-blanco">
		<div class="row borde-row">
			<% for(var i=0; i<articles.length; i++){ 
				%>
				<%var articulos = articles[i]%>
						<div class="col-md-3 col-sm-5 col-xs-12 borde-col">
							<div class="sombreado fondo-blanco borde-row">
								<div style="background-image: url(<%= articulos.image%>);background-position:center;" class="fondo tipo-letra centrar-texto color-blanco article-height-cover"></div>
									<div class="bordes-abajo-imagen borde-texto">
										<h2 class="letra-tam" style="height:30px"><%=articulos.title%></h2>
										<a href = "<%=articulos.url%>" class="borde-texto color-azul-rgb">Leer más</a>
									</div>	
							</div>
						</div>
				<%
				}
			%>
		</div>
	</section>
	<section class="fondo-equipo">
      <div class="centrar">
        <p class="letra-roboto tamano-50px texto-blanco">Conoce al equipo</p>
        <p> <a href="integrantes.html" target="_blank"><i class="color-grupo texto-blanco fa fa-users fa-5x"></i></a></p>
      </div>
      <ul class="cuadricula">
        <li>
            <div class="cuadricula-item avatar-uriel">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Uriel</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/Uriel_Hedz" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/urielhdz" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
        </li>
         <li>
            <div class="cuadricula-item avatar-rodrigo">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Rodrigo</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/rodrigo_arreola" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/rodrigoarreola" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>
        <li>
            <div class="cuadricula-item avatar-andrea">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Andrea</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/AndreaaLuis" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/andrealuis" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          <li>
            <div class="cuadricula-item avatar-victor ">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Victor</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/TheMexicanito" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/Victor116" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="cuadricula-item avatar-andres">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Andres</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/Andres_002" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/andres002" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="cuadricula-item avatar-ernesto">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Ernesto</h1>
                <div style="padding-top: 3%">
                  <a href="https://github.com/ernesto1601" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="cuadricula-item avatar-diana">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Diana</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/bexan1818" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/DianaToledoMaza" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>

		
		</div>
          <li>
            <div class="cuadricula-item avatar-edgardo">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Edgardo</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/Rito_21" target="_blank" class="texto-blanco" ><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/edgardorito" target="_blank"  class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="cuadricula-item avatar-javier">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Javier</h1>
                <div style="padding-top: 3%">
                   <a href="https://twitter.com/Harossone" target="_blank" class="texto-blanco"><i class="fa fa-twitter fa-2x color-twitter"></i></a>
                  <a href="https://github.com/Haross" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="cuadricula-item avatar-nancy">
              <div class="cuadricula-info" style="padding-top: 15%">
                <h1 class="texto-blanco letra-nunito tamano-letra-avatar">Nancy</h1>
                <div style="padding-top: 3%">
                  <a href="https://github.com/GitHuberian" target="_blank" class="texto-blanco"><i class="fa fa-github fa-2x color-github"></i></a>
                </div>
              </div>
            </div>
          </li>
      </ul>
    </section>
	<footer class="bs-docs-footer" role="contentinfo">
		<div class="container centrar-texto texto-blanco">
			<img src="imgs/adventure-cat.png" height="200">
			<h2>Este es un proyecto de código abierto.</h2>
			<p>Puedes acceder al código en <a href="https://github.com/urielhdz/referencexyz" class="texto-blanco" style="text-decoration:underline;">github</a></p>
			<div class="bs-docs-social">
		  		<ul class="bs-docs-social-buttons list-inline text-center" style="margin: 5%;margin-top:0;">
				    <li>
				     	<a class="github-button" href="https://github.com/urielhdz/referencexyz" data-icon="octicon-eye" data-style="mega" data-count-href="/urielhdz/referencexyz/watchers" data-count-api="/repos/urielhdz/referencexyz#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch urielhdz/referencexyz on GitHub">Watch</a>
				    </li>
				    <li>
				      <a class="github-button" href="https://github.com/urielhdz/referencexyz" data-icon="octicon-star" data-style="mega" data-count-href="/urielhdz/referencexyz/stargazers" data-count-api="/repos/urielhdz/referencexyz#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star urielhdz/referencexyz on GitHub">Star</a>
				    </li>
				    <li>
				      <a class="github-button" href="https://github.com/urielhdz/referencexyz/fork" data-icon="octicon-git-branch" data-style="mega" data-count-href="/urielhdz/referencexyz/network" data-count-api="/repos/urielhdz/referencexyz#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork urielhdz/referencexyz on GitHub">Fork</a>
				    </li>
				</ul>
			</div>
		</div>

	<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
	</footer>
	</section>
 
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#myModal').on('hidden.bs.modal', function (e) {
				document.getElementById('myVideo').pause();
			           
			});
	    $("button").click(function(){
	    	$("button").off("click");
        $("#ver").fadeToggle(1000);
        $("#logo-codigo").fadeIn(5000);
	    });
		});
	</script>