html,body{
	height: 100%;
}
/*Letras/////////////////////////////////////////////////////////////////////////////////////////*/
.letra-titulo{
	font-family: fuente, sans-serif;
	font-size: 40px;
}
.letra-subtitulo{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
.letra-tam{
	font-size: 1em;
}

/*Alineacion texto////////////////////////////////////////////////////////////////////////////////*/
.centrar-texto{
	text-align: center;
}
.tipo-letra{
  font-family: arial;
}
#texto-imagen{
	text-align: center;
	color:#87C3FF;
	margin: 0px;
}
#presentacion{
	color:#87C3FF;
	text-align: center;
}

/*Margenes, pandig, dorde, etc/////////////////////////////////////////////////////////////////////*/
.espacio-peque-arriba{
	margin-top: 50px;
}
.espacio-peque-izquierda{
	width: 95%;
	margin-left:auto;
}
.espacio-grande-arriba{
	margin-top: 150px;
}
.misma-linea{
	display: inline;
}
.sin-bordes{
	border-bottom: none;
	border-top: none;
	border-right: none;
	border-left: none;
	outline:none;
}
.bordes-abajo-imagen{
  margin-right: 2px;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 1px;  
}
.borde-etiqueta{
  margin: 1px;
  margin-top: 3px;
}
.borde-header{
    padding-left: 30px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 40px;
}
.borde-col{
  padding-right: 0px;
  padding-left: 10px;
}
.borde-row{
  margin-bottom: 15px;
}
.borde-texto{
  padding-bottom: 15px;
}
.boton-derecha{
	margin-left: 80%;
}
.sin-borde{
	border: none;
}
.borde-blanco{
	border-top: solid 30px white;
	border-right: solid 30px white;
	border-left: solid 30px white;
}
.linea-negra{
	border-bottom: solid 1px gray;
	padding-bottom: 20px; 
}
.ancho-alto{
	 width: 50%;
	 height: auto;
}
#cabecera {
	background: white;
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
}
#imagen-cabecera{
	height: 50px;
}
.circulo-blanco {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 100%;
     background: #FFFFFF;
}
.gran-porcentaje-espacio-izquierda{
	margin-left: 85%;
}
.espacio-pequeño-arriba{
	padding-top:2%;
}
.espacio-pequeño-logo-arriba{
	padding-top:25%;
}
.block-en-linea{
	display: inline-block;
	margin-right: -4px;
}

/*Colores//////////////////////////////////////////////////////////////////////////////////////*/
.color-blanco{
	color: white;
}
.color-rojo{
	color: red;
}
.color-blanco{
  color: #FFFFFF;
}
.color-azul{
  color: #26B2FF;
}
.color-azul-rgb{
	color: rgb(0,206,209);

}
.color-azul-rgb a:visited{
		color: rgb(0,206,209);
		text-decoration: underline;
}
.color-azul{
	color: rgb(0,206,209);
}
.color-blanco{
	color:white;
}
.color-azul{
	color: blue;
}

/*Fondos////////////////////////////////////////////////////////////////////////////////////////////////*/
.sin-fondo{
	background: none;
}
.fondo{
  background: url(public/halo.jpg);
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 30px;
}
.fondo-blanco{
	background-color: white; 
}
#fondo-blanco{
	background: white;
}

/*Enviar//////////////////////////////////////////////////////////////////////////////////////////////////*/
.enviar{
	color: white; /*Color del icono*/
	background: red; /*Fondo del icono*/
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 25px; /*Tamaño del icono*/
	padding: 10px;
}
.enviar-raton:hover{ /*Formato al pasar el ratón por encima*/
	color: red; /*Color del icono*/
	background: white; /*Fondo del icono*/
	border-radius: 50%;
	width: 40px;
	height: 40px
}

/*Imput's de diseño css//////////////////////////////////////////////////////////////////////////////////*/

input{
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color: red;
	height:40px;
	width: 450px;
	background: none;
	border-style: solid double;
	border-bottom: 1px solid #A4A4A4;
	border-top: none;
	border-right: none;
	border-left: none;
	outline:none;
}
input::-webkit-input-placeholder {
    color:    white;
}
input::-moz-placeholder {
    color:    white;
}
input:-moz-placeholder {
    color:    white;
}
input:-ms-input-placeholder {
    color:    white;
}

/*Sombras////////////////////////////////////////////////////////////////////////*/
.sombreado{
    width: auto;
    height: auto;
    box-shadow: 0 0 10px 0.2px gray;
    border-radius: 1px;
}

/*Multimedia creo////////////////////////////////////////////////////////////////////////////*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
	.letra-tam{
		font-size: 0.5em;
	}
	.boton-derecha{
		margin-left: 70%;
	}
}

@media only screen and (min-device-width : 1500px) and (max-device-width : 30000px) {
	
	.letra-tam{
		font-size: 2.5em;
	}	
}
/*clases que contienen background */
.fondo-azul{
	background: rgb(22, 113, 158);
}
.fondo-chica-computadora{

	background-image: url(/imgs/portada.jpg);
	height: 347px;
	width: 100%; 
	background-position: center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}




/*clases de posiciones de elementos*/
.posicion-imagen-book{
	float: right;
	position: relative;
	top: 227px;
	right: 35px; 
}

/* clases con tamaño de elementos*/

.alto-fondo-azul{
	min-height: 347px;
}
.ancho-container{
	width: 100%;
}
.article-height{
	min-height: 80px;
}
.article-height-cover{
	min-height: 110px;
}

.tam-imagen-libro{
	width: 120px;
	height: 120px;
}

.sin-padding{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
}

.ancho-input{
	width: 100%;
}

/*Edgardo*/
.posicion-absoluta{
	position: absolute;
	margin-left: 15%;
	margin-top: -6%;
}
.letra-tam{
	font-size: 1.2em;
}

.ancho{
	 width: 50%;
}

/*=======*/
@media only screen and (max-width: 400px) {
    #letra-tam{
    	font-size: 0.8em; 
    }
    .ancho{
		 width: 90%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    
	
	.boton-derecha{
		margin-left: 40%;
	}

	.posicion-absoluta{
		position: absolute;
		margin-left: 3%;
		margin-top: -20%;
	}
        
 }

@media (min-width: 401px) and (max-width: 599px) {
   .boton-derecha{
		margin-left: 50%;
	}
    #letra-tam{
    	font-size: 0.9em; 
    }
    .ancho{
		 width: 80%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 10%;
		margin-top: -30%;
	}
 }


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.boton-padding-abajo{
		padding-bottom: 2%;
	}

	.boton-derecha{
		margin-left: 70%;
	}

	.boton-letra-tam{
		font-size: 1.3em;
	}

	.letra-tam{
		font-size: 1.1em;
	}

	.ancho-alto{
		 width: 50%;
		 height: 10%;
	}

	.posicion-absoluta{
		position: absolute;
		margin-left: 25%;
		margin-top: -10%;
	} 

}



@media only screen and (min-width: 600px) (max-device-width : 768px) {
   
    .letra-tam{
    	font-size: 1em; 
    }

    .ancho-alto{
		 min-width: 70%;
		 height: 10%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 15%;
		margin-top: -10%;
	}

 }
 

@media only screen and (min-width: 768px) (max-width : 991px){
	.letra-tam{
    	font-size: 1em; 
    }

    .ancho{
		 width: 70%;
		 height: 10%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 30%;
		margin-top: -8%;
	}
}

@media only screen and (min-width: 600px) {
   #letra-tam{
    	font-size: 0.9em; 
    }

    .ancho{
		 width: 65%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 16%;
		margin-top: -15%;
	}    
 }
 @media only screen and (min-width : 767px) {
 	#letra-tam{
    	font-size: 0.9em; 
    }

    .ancho{
		 width: 60%;
		 height: 10%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 20%;
		margin-top: -10%;
	}
 }

 @media only screen and (min-width : 992px) {
 	#letra-tam{
    	font-size: 1em; 
    }

    .ancho{
		 width: 50%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: -18%;
		margin-top: -20%;
	}
 }

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		#letra-tam{
    	font-size: 1em; 
    }

    .ancho-alto{
		 width: 10%;
		 height: 10%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 10%;
		margin-top: -20%;
	}
	
}

 @media only screen and (min-width : 1199px) {
 	#letra-tam{
    	font-size: 1.3em; 
    }

    .ancho{
		 width: 60%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 10%;
		margin-top: -10%;
	}
 }

@media only screen and (min-width : 992px) {
	.letra-tam{
    	font-size: 1em; 
    }

    .ancho{
		 width: 70%;
		 height: 10%;
	}

	.borde-blanco{
		border-top: solid 10px white;
		border-right: solid 10px white;
		border-left: solid 10px white;
	}    

	.posicion-absoluta{
		position: absolute;
		margin-left: 15%;
		margin-top: -5%;
	}
   }

@media only screen and (min-device-width : 1500px) and (max-device-width : 3000px) {
	
	.letra-tam{
		font-size: 2.5em;
	}

	.posicion-absoluta{
		position: absolute;
		margin-top: -50%;
	}    
	
}

* {
	padding:0;
	margin:0;
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.menu-header {
	display:block;
	position:fixed;
	height:85px;
	width:100%;
}

.contenedor-header {
	position:fixed;
	display:block;
	width:inherit;
	height:inherit;
}

.contenedor-menu {
    right: 0;
	padding-top:80px;
    height: inherit;
}
.menu-bar {
	top:0;
	display:inline-block;
	position: fixed;
}

.menu-bar .bt-menu {
	display: inline-block;
	padding: 20px;
	color: #fff;
	overflow: hidden;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

.menu-bar span {
	float: left;
	font-size: 40px;
}

header nav {
	width: 50%;
	height: calc(100% - 80px);
	position: fixed;
	right:100%;/*push*/
	margin: 0;
	background:#37474f;
	z-index:1000;
}

header nav ul li {
	position: relative;
	display: block;
	border-bottom:1px solid rgba(255,255,255,.5);
}

header nav ul li:hover {
	background:#E6344A;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a span {
	margin-right:10px;
}

header nav ul li .children {
	display: none;
	background:#415259;
	z-index:1000;
	width: 100%;
	position: relative;
}

header nav ul li:hover .children {
	display:none;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
	margin-left:20px;
}

header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
	
}

header nav ul li .caret {
	float: right;
}

@media screen and (max-width: 800px) {
	header nav {
	width:80%;
	overflow-x: hidden;
	overflow-y: scroll;
	}
}

.contenedor-pagina{
	background-color: #16719E;
	width:100%;
	min-height:1000px;
	height:100%;
}

.seccion-principal {
	display:block;
	background:url("../imgs/laptop.png") center bottom no-repeat #36474F;
	-webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    background-size: 45% 52%;
	min-height:800px;
}

.texto-blanco{
	color: white;
}
.texto-sombreado{
	text-shadow:0px 0px 3px #000;
}
.fondo-equipo
	{
	  background-color: #36474F;
	}
.color-grupo
	{
		text-decoration:none;
	}
.centrar
	{
		text-align: center;
	}
.margen-sup50
	{
		padding-top: 50px;
	}
.letra-ruluko
	{
		font-family: 'Ruluko', sans-serif;
	}
.letra-roboto
	{
		font-family: 'Roboto Condensed', sans-serif;
	}
.letra-nunito
	{
		font-family: 'Nunito', sans-serif;
	}
.tamano-50px
	{
		font-size: 50px;
	}
.tamano-30
	{
		font-size: 30px;
	}
.tamano-letra-avatar
	{
		font-size: 25px;
	}
.color-grupo
	{
		text-decoration:none;
	}

.color-twitter:hover
	{ /*Formato al pasar el ratón por encima*/
	    color: #00ACED; /*Color del icono*/
	}
.color-github:hover
	{
		color: #000000;
	}


.cuadricula {
	padding-right: 15%;
	padding-left:15%;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.cuadricula li {
	width: 150px;
	height: 150px;	
	display: inline-block;
	margin: 20px;
}

.cuadricula-item { /*"Sombra"*/
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	
}
.cuadricula-info{
	position: absolute;
	background: rgba(0,0,0, 0.5);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.cuadricula-item:hover .cuadricula-info{
	transform: scale(1);
	opacity: 1;
}
.img-grupo
	{
		background-image: url(../imgs/grupo.png);
		background-position: center;
		background-size: 100%; 
	}

.avatar-rodrigo
	{ 
		background-image: url(../imgs/rodrigo.jpg);
		background-position: center;
		background-size: cover;
	}

.avatar-andrea
	{
		background-image: url(../imgs/andrea.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-victor
	{
		background-image: url(../imgs/victor.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-uriel
	{
		background-image: url(../imgs/uriel.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-andres
	{
		background-image: url(../imgs/andres.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-ernesto
	{
		background-image: url(../imgs/ernesto.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-diana
	{
		background-image: url(../imgs/diana.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-edgardo
	{
		background-image: url(../imgs/edgardo.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-javier
	{
		background-image: url(../imgs/javier.jpg);
		background-position: center;
		background-size: cover;
	}
.avatar-nancy
	{
		background-image: url(../imgs/nancy.jpg);
		background-position: center;
		background-size: cover;
	}
/*..............................*/


/**
 * Floating action button
 */

 .texto-blanco{
  color:white;
 }

.boton-compartir {
  padding-top: 15px;
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background-color: black;
  z-index: 10;
}

.boton-red-social {
   z-index: 100000;
  padding-top: 7px;
  position: absolute;
  display: line-block;
  opacity:0;
  width: 42px;
  height: 42px;
  border-radius: 42px;
  right: 10%;
  bottom: 30px;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: .5s all;   
  -webkit-transition-delay: 0.5s; 
  -moz-transition: .5s all;   
  -moz-transition-delay: 0.5s; 
  -ms-transition: .5s all;   
  -ms-transition-delay: 0.5s; 
  -o-transition: .5s all;   
  -o-transition-delay: 0.5s; 
  transition: .5s all;   
  transition-delay: 0.5s; 
}

.boton-compartir:hover .first {
  -webkit-transform: translate(0px, -60px);
  -moz-transform: translate(0px, -60px);
  -o-transform: translate(0px, -60px);
  -ms-transform: translate(0px, -60px);
  transform: translate(0px, -60px);
  opacity:1;
  -webkit-transition:all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s
   transition: all 1s;
}


.boton-compartir:hover .second {
  -webkit-transform: translate(0px, -120px);
  -moz-transform: translate(0px, -120px);
  -o-transform: translate(0px, -120px);
  -ms-transform: translate(0px, -120px);
  transform: translate(0px, -120px);
  opacity:1;
  -webkit-transition:all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s
   transition: all 1s;
}

/*----------------------------------------------------------CSS login */
.letra-open-sans{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 30px;
}

.margen-seccion-login{
	margin: 0px;
}
.padding-seccion-login{
	padding: 0px;
}
.texto-centrado{
	text-align: center;
}

.color-fondo-body{
	background-color: #607D8B;
}

.color-form-fondo{
	background-color: #90A4AE;
}
.ancho-form{
	width: 360px;
}
.borde-form{
	border: 1px solid #4E4D4D;
}
.borde-redondo{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.sombra-form{
	box-shadow: 0px 0px 10px #000000;
}
.margen-form{
	margin:  100px auto;
}

.color-blanco{
	color:#FFFFFF;
}
.margen-iniciar-sesion{
	margin: 15px 25px;
}

.ancho-caja-texto{
	width: 10em;
}
.alto-caja-texto{
	height: 2em;
}
.paddig-caja-texto{
	padding: 5px 5px;
}
.margen-caja-texto{
	margin:10px 20px;
}
.color-caja-texto{
	color: #6D6D6D;
}
.texto-izq{
	text-align: left;
}
.letra-caja-boton{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
}
.margen-iconos{
	margin: 0px 7px;
}


.ancho-boton{
	width: 135px;
}
.margen-boton{
	margin: 20px 30px;
}
.alto-boton{
	height: 35px;
}
.borde-boton{
	border: 1px solid;
}
.sombra-boton{
	box-shadow: 0px 2px 0px #000000;
	-moz-box-shadow: 0px 2px 0px #000000;
	-webkit-box-shadow: 0px 2px 0px #000000;
}


.cambio-color-boton:hover{
	background: #546E7A
}

.color-click-boton:active{
	background: #607D8B;
}

#borde-negro{
	background-color: #494242;
	margin-left: 19%;
	height: 30%;
	width: 56%;
}

#html{
	text-align: center;
	font-size: 600%;
	color:white;
	font-family: verdana;
}
#input-buscar{	
	width:20%;
}



.contenedor-buscador{
	width: 25%;
	position: absolute;
	right: 0.0001%;
	background-color:#E8E8E8 ;
	height: 100%;	
}
#input-b{
	width: 100%;
}

.etiquetas-azules{
	color:blue;
}

<<<<<<< HEAD
<<<<<<< HEAD
/*show.ejs//////////////////////////////*/
*{
	padding: 0%;
	margin: 0%;
}
.ancho-izquierdo{
	width: 23%;
	position: fixed;
	left: 0%;
	background: white;
}

.ancho-centro{
	width: 54%;
	position: absolute;
	left: 23%;
	background: white;
}

.ancho-derecho{
	width: 23%;
	position: fixed;
	left: 77%;
}

.sin-block{
	display: inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.margen-referenxyz{
	padding-top: 30px;
	padding-bottom: 30px;
}

.margen-centro{
	padding:5px ;
	padding-left: 80px;
	padding-right: 50px;
}

.margen-descripcion{
    margin-bottom: 20px;
    margin-top: 80px;
}
.margen-autor{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}
.margen-historia{
	padding-left: 80px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}
.margen-historia-descripcion{
    padding-top: 25px;
    padding-bottom: 25px;
}

.margen-abajo-autor{
    padding-top: 40px;
    padding-bottom: 45px;
}

.borde-redondo{
	width: 65%;
	padding-left: 50px;
	padding-right: 10px;
	border-radius: 50px;
}
.centrar-texto{
	text-align: center;
}
.izquierda-texto{
	text-align: right;
}

.tamano-letra-20{
	font-size: 20px;
}
.tamano-letra-30{
	font-size: 30px;
}
.tamano-letra-40{
	font-size: 40px;
}

.sombreado{
    box-shadow: 0 0 4px 0.2px gray;
}

.sombreado-autor{
	box-shadow: 0 0 70px 4.9px rgb(239,240,243) inset;
}
=======
=======

@media (max-width:400px){
	#contenedorB{
		display:none !important;
	}
	#html{
	text-align: center;
	font-size: 400%;
	}

}

>>>>>>> 3ea17e6c4821d77a3a123f7f1e73fb6ae21a669b
#tabla-valores{
	width: 55%;
	position: absolute;
	margin-left: 18%;
}
<<<<<<< HEAD
>>>>>>> f41b044521edcc4de117a40a9ca98fe46687b6fb
=======
>>>>>>> 3ea17e6c4821d77a3a123f7f1e73fb6ae21a669b
