
*{
	padding: 0px;
	margin: 0px;
}


/*clases que contienen background */
.fondo-azul{
	background: rgb(22, 113, 158);
}
.fondo-chica-computadora{

	background-image: url(../img/portada.jpg);
	height: 347px;
	width: 100%; 
	background-position: center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}




/*clases de posiciones de elementos*/
.posicion-imagen-book{
	float: right;
	position: relative;
	top: 227px;
	right: 35px; 
}

.posicion-texto-fondo-azul{
 	position: relative;
	top: 163px;

}


/* clases con tamaño de elementos*/

.alto-fondo-azul{
	height: 347px;
}
.ancho-container{
	width: 100%;
}


.tam-imagen-libro{
	width: 120px;
	height: 120px;
}

.tam-texto-fondo-azul{
	font-size: 368%;
}


/* medias queries*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.tam-texto-fondo-azul{
			font-size:199%;
	}
	.posicion-texto-fondo-azul{
		position: relative;
		top: 50px;
		right: -44px;
	}
	.ancho-container{
		width: 100%;
	}
	.fondo-chica-computadora{
		background-image: url(../img/portada.jpg);
		height: 100px;
		background-size:cover;
	}
}