
*{
	padding: 0px;
	margin: 0px;
}


/*clases que contienen background */
.fondo-azul{
	background: rgb(22, 113, 158);
}
.fondo-chica-computadora{

	background-image: url(/imgs/portada.jpg);
	height: 347px;
	width: 100%; 
	background-position: center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}




/*clases de posiciones de elementos*/
.posicion-imagen-book{
	float: right;
	position: relative;
	top: 227px;
	right: 35px; 
}

/* clases con tamaño de elementos*/

.alto-fondo-azul{
	min-height: 347px;
}
.ancho-container{
	width: 100%;
}


.tam-imagen-libro{
	width: 120px;
	height: 120px;
}



/* medias queries*/
@media only screen and (max-width: 400px) {
    #texto-azul{ 
    	position: absolute;
    	font-size:2em;
    	text-align: center;
    	padding-right: 20%; 
    	padding-left:20%;
    	padding-top: 15%;
 
    }                 
 }
@media only screen and (min-width: 600px) {
    #texto-azul{ font-size:400%;
    	position:absolute;
    	text-align: center;
    	padding-left: 5%;
    	padding-top: 7%;

    }                 
 }
 @media only screen and (min-width: 401px) and (max-width: 599px) {
    #texto-azul{ font-size:300%;
    	position:absolute;
    	text-align: center;
    	padding-left: 5%;
    	padding-top: 7%;

    }                 
 }