<% layout('admin') -%>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<div class="table-responsive">
		<h1>Panel de administracion</h1>
		<p>Productos actuales</p>
		
		<table class="table table-hover">
		<thead>
			<th>#</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Acciones</th>
		</thead>
			<% for(var i=0; i<propiedades.length; i++){ 
			  %>
			  <%var propiedad = propiedades[i]%>
				<tr>
					<td><%=propiedad._id%></td>
					<td><%=propiedad.title%></td>
					<td><%=propiedad.description%></td>
					
					<form method="post" action="/propiedades/<%=propiedad._id%>?_method=delete">
						<td><button type="button" class="btn btn-link">Mostrar</button></td>
						<td><button type="button" class="btn btn-link">Editar</button></td>
						<td><button onclick="return confirm('¿Desea Eliminar el elemento?:\n' +  form.action)" type="submit" class="btn btn-link " >Eliminar</button></td>
					</form>
					
				</tr>
				
				<%
				} 
			%>
	</table>
</div>