<% layout('application') -%>
<header >
	<div class="fondo-header">
		<div class="ancho-izquierdo sin-block ">
			<div class="inline margen-izquierda centrar-texto tamano-letra-30 sombreado">
				<p class="margen-referenxyz">referencexyz</p>
			</div>
			<div class="sombreado tamano-letra-30">contenido :D que se despliegan así bien chidas :B</div>
		</div>

		<div class="ancho-centro sin-block">
			<div class="inline margen-centro tamano-letra-30 sombreado">
				<p class="margen-descripcion">Descripcion</p>
				<div class="sombreado-autor borde-redondo">
					<p class="margen-autor tamano-letra-20 izquierda-texto">Hecho por Uriel</p>
				</div>
				<div class="margen-abajo-autor">
					<p>En la sima xyz se prologan una distancia de 09'45'2' con una densidad de rpg(0,0,0), y lo repiter, y lo repites, y lo repites, no te asustes, no te asustes todo esta en mi cabeza...</p>
				</div>
			</div>
			<div class="sombreado margen-historia tamano-letra-30">
				<p>Historia</p>
				<div >
					<p class="margen-historia-descripcion">La historia no vale nada nada nada nada el oro sí :V andrea y leli se la pasan cotorreando y yo las molesto porque sí :V mientras rodrigo olvida tu cargador je je je </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="contenedorB" class="col-md-2 contenedor-buscador" style="height = 100%">
				<form action="/search" id="buscador" style="padding-top: 5%; padding-bottom: 5%;" class="text-center">
				<input id="input-b" style="width: 100%" name="keyword" type="text" value="" placeholder="  " required>

				</form>
				<div id="resultados">

				<div>
					<p class="text-center">Propiedades</p>
				</div>	
			</div>
		</div>
	</div>
</header>