<% layout('application') -%>
<header >
	<div class="fondo-header">
		<div class="ancho-izquierdo sin-block ">
			<div class="inline margen-izquierda centrar-texto tamano-letra-5 sombreado">
				<p>referencexyz</p>
			</div>
			<div class="sombreado tamano-letra-5">contenido :D que se despliegan así bien chidas :B</div>
		</div>

		<div class="ancho-centro sin-block">
			<div class="inline margen-centro tamano-letra-5 sombreado">
				<p class="margen-descripcion">Descripcion</p>
				<div class="sombreado-autor borde-redondo">
					<p class="margen-autor izquierda-texto">Hecho por Uriel</p>
				</div>
				<div class="margen-abajo-autor">
					<p>En la sima xyz se prologan una distancia de 09'45'2' con una densidad de rpg(0,0,0)</p>
				</div>
			</div>
			<div class="sombreado">
				<p>Historia</p>
				<div class="">
					<p>La historia no vale nada nada nada nada el oro sí :V andrea y leli se la pasan cotorreando y yo las molesto porque sí :V mientras rodrigo olvida tu cargador je je je </p>
				</div>
			</div>
		</div>
		
		<div class="ancho-derecho sin-block">
			<div class="inline margen-derecha tamano-letra-5 sombreado">
				<p>busqueda u objeto en blanco</p>
			</div>
			<p class="tamano-propiedad tamano-letra-6 centrar-texto">Propiedad</p>
		</div>
	</div>
</header>